.formWrap {
  margin: 3rem auto 0;
  color: black;
  ul{
    padding: 0.25rem !important;
  }
}
.RegisterSpacer{
  height: 2rem;
}

.ListStyleNone{
  list-style-type: none;
}
.SignupPromo{
  width: 400px;
  height: 400px;
}
.CenterPromoSignup{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}