.socialSignin {
  margin: 0.5rem auto 0;
}

.links {
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;

  a {
    color: rgb(77, 119, 225);
  }
}
.LoginErrMsg{
  margin-top: 3rem;
  height: 4rem;
  width: 4rem;
  background: rgb(255, 255, 255);
}
