.ShipButton{
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    // min-width: max-content;

}
.TButton{
    width: 150px;
    // background: red;
    font-size: 16px;
    color: rgb(29, 85, 228);
    // min-width: max-content;
    // white-space: nowrap;

}
.results{
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // max-width: 200px;
}

@media only screen and (max-width: 1024px) {
    // .ShipButton{
    //     width: 50% !important;
    //     height: 1rem;
    //     padding: 1rem;
    // }
}